
<div class="row top-buffer">
    <div class="col-lg-6 text-center" >
        <img [src]="product.imgUrl" [alt]="product.name" class="img-responsive" style="max-height: 300px;">
        <div class="mt-4 mb-4">
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
    <div class="col-lg-6">
        <p class="h5 font-weight-bold text-dark mt-0 mb-1">{{product.name}}</p>
        <p class="font-weight-normal text-black-50 mt-0 mb-1">{{product.brand}}</p>
        <p class="h4 text-dark mt-0 mb-3 currency">{{product.price}}</p>
        <p class="font-weight-normal text-black-50 mt-0 mb-1">{{product.description}}</p>
        <p class="font-weight-normal text-black-50 mt-0 mb-1">{{product.description}}</p>
        
    </div>
</div>
