/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 50px;
}


.currency:before{ 
    content:'$'; 
}
.currency:after{ 
    content: '.00'; 
}

.top-buffer { 
    margin-top:10px; 
    margin-bottom:10px;     
}