input {
  file {
    path => [
             "/var/log/scshop/config-service.log",
             "/var/log/scshop/eureka-service.log",
             "/var/log/scshop/gateway-service.log",
             "/var/log/scshop/user-service.log",
             "/var/log/scshop/product-service.log",
             "/var/log/scshop/cart-service.log",
             "/var/log/scshop/order-service.log",
             "/var/log/scshop/payment-service.log"
            ]
    
    start_position => beginning
    sincedb_path => "/dev/null"
    ignore_older => 0
  }
}

output {
  elasticsearch { hosts => ["elasticsearch:9200"] }
}