<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	  <layout class="ch.qos.logback.classic.PatternLayout">
	    <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
	  </layout>
	</appender>
  
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>{logstash host }</syslogHost>
	    <port>{ logstash port 25826 }</port>
	    <facility>LOCAL0</facility>
	    <throwableExcluded>true</throwableExcluded>
	    <suffixPattern>order-service %m thread:%t priority:%p category:%c exception:%exception</suffixPattern> 
	</appender>  
	
	<appender name="FILEROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/var/log/scshop/order-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	       <maxFileSize>1024KB</maxFileSize>    
	       <maxHistory>1</maxHistory>
	       <totalSizeCap>500MB</totalSizeCap>		
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="order" level="debug" additivity="false">
	   <appender-ref ref="STDOUT" />
	   <appender-ref ref="FILEROLLING" />
	   <appender-ref ref="SYSLOG" />
	</logger>
  
    <root level="warn">
      <appender-ref ref="STDOUT" />
    </root>

</configuration>