<a 
    routerLink="/product"
    routerLinkActive="active"
    style="cursor: pointer;"
    class="card nav-link top-buffer"
    
    >
   <div>
        <div>
            <img [src]="product.imgUrl" alt="{{product.name}}" class="img-responsive" style="max-height: 70px;">
        </div>
        <div>
            <p class="font-weight-normal text-dark mt-0 mb-0">{{product.name}}</p>
            <p class="small font-weight-bold text-black-50 mt-0 mb-0">{{product.brand}}</p>
            <p class="small font-weight-bold text-dark mt-0 mb-0 currency">{{product.price}}</p>
        </div>
    </div>

</a>