<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">SC SHOP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search for products" aria-label="Search">
                        <a routerLink="/productlist">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </a>
                    </form>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a routerLink="/login">
                            <button class="btn btn-outline-light mr-4" type="button">Login</button>
                        </a>
                    </li>
            
                    <li class="nav-item">
                        <a routerLink="/cart">
                            <button class="btn btn-outline-secondary mr-3" type="button" >
                                <i class="fa fa-cart-plus" aria-hidden="true"></i> Shopping Cart
                            </button>
                        </a>
                    </li>
                  </ul>
                  
                </div>
                
              </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Computers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Laptops</a>
                            <a class="dropdown-item" href="#">Desktops</a>
                            <a class="dropdown-item" href="#">Accessories</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mobiles
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Apple</a>
                        <a class="dropdown-item" href="#">Google</a>
                        <a class="dropdown-item" href="#">Xiomi</a>
                      </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Men
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Clothing</a>
                            <a class="dropdown-item" href="#">Shoes</a>
                            <a class="dropdown-item" href="#">Accessories</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Women
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Clothing</a>
                            <a class="dropdown-item" href="#">Shoes</a>
                            <a class="dropdown-item" href="#">Accessories</a>
                        </div>
                    </li>
                  </ul>
                </div>
              </nav>

            
        </div>
    </div>
</div>

