<div class="row mt-2 mb-2">
    <div class="col-lg-8">
         <p class="h5 font-weight-bold">Cart ({{cart.items.length}})</p>
        <hr>
        <div *ngFor="let item of cart.items">
            <app-cart-item [cartItem]="item"></app-cart-item>
        </div>
    </div>
    <div class="col-lg-4">
        <p class="h5 font-weight-bold">Price Details</p>
        
        <hr>

        <div class="row mb-3 ml-1">
            <div class="col-sm-5">Price:</div>
            <span class="col-sm-5 currency">{{cart.priceDetails.price}}</span>
        </div>
        <div class="row ml-1">
            <div class="col-sm-5">Delivery:</div>
            <span class="col-sm-5 currency">{{cart.priceDetails.delivery}}</span>
        </div>
    

        <hr>

        <div class="row ml-1">
            <div class="h5 col-sm-5">Total Price:</div>
            <span class="h5 col-sm-5 currency">{{cart.priceDetails.totalPrice}}</span>
        </div>

        <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-info" [disabled]="cart.priceDetails.totalPrice === 0" (click)="onPlaceOrder()">PLACE ORDER</button>
        </div>

       
    </div>



</div>