<div class="container">
    <div class="row mb-5">
        <div class="col-sm-8 mt-3">
            <div class="accordion" id="accordionExample">

                <!-- Login -->

                <div class="card">
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link" type="button" data-toggle="collapse" 
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Login
                        </button>
                        <span class="align-middle" *ngIf="isUserLoggedIn">
                            <i class="fa fa-check-circle-o text-success"></i>
                        </span>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body" *ngIf="isUserLoggedIn">
                            {{user.username}}
                        </div>

                        <div class="card-body" *ngIf="!isUserLoggedIn">
                            <div class="col-xs-12">
                                <button (click)="showLoginBox()" class="btn btn-success">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Address -->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Delivery Address
                        </button>
                        <span class="align-middle" *ngIf="isAddressEntered">
                            <i class="fa fa-check-circle-o text-success"></i>
                        </span>
                    </div>
                    <div id="collapseTwo" class='collapse {{showAddressSection ? "show":""}}' aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <form #addressForm="ngForm" id="addressForm">
                                
                                    <div class="form-group mr-2">
                                        <label for="name">Name</label>
                                        <input type="text"
                                        id="name"
                                        
                                        name="name"
                                        ngModel
                                        required

                                        class="form-control mb-2">
      
                                        <label for="address">Address</label>
                                        <input type="text"
                                        id="adddress"

                                        name="addressLine1"
                                        ngModel
                                        required

                                        class="form-control mb-2">


                                        <label for="city">Suburb</label>
                                        <input type="text"
                                        id="city"
                                        
                                        name="city"
                                        ngModel
                                        required

                                        class="form-control mb-2">

                                        <span class="mb-2">
                                            <label for="state" class="mr-4">State

                                                <select class="custom-select" id="state"
                                                name="state" ngModel>                                                   
                                                    <option selected value="NSW">NSW</option>
                                                    <option value="VIC">VIC</option>
                                                    <option value="ACT">ACT</option>
                                                </select>
                                            
                                            </label>

                                            <label for="pin" class="mr-4">Pin
                                                <input type="text"
                                                id="pin"

                                                name="pin"
                                                type="text"
                                                required
                                                ngModel
                                                max="999999"
                                                pattern="[0-9]+"
                                                class="form-control">
                                            </label>

                                            <label for="country">Country

                                                <select class="custom-select" id="country"
                                                name="country" ngModel>                                                   
                                                    <option selected value="AUSTRALIA">Australia</option>
                                                </select>

                                                
                                            </label>
                                        </span>
                                    </div>
                                
                                    <div class="row d-flex justify-content-end mr-2">
                                        <div class="col-xs-12">
                                            <button type="submit" [disabled]="!addressForm.valid" class="btn btn-success" (click)="onAddressSave(addressForm)">Continue</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Order -->
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" 
                                aria-expanded="false" aria-controls="collapseThree">
                            Order Summary
                        </button>
                        <span class="align-middle" *ngIf="isOrderValidated">
                            <i class="fa fa-check-circle-o text-success"></i>
                        </span>
                    </div>
                    <div id="collapseThree" class='collapse {{showOrderSummarySection ? "show":""}}' aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div *ngFor="let item of cart.items">
                                <app-cart-item [cartItem]="item"></app-cart-item>
                            </div> 
                        </div>
                        <div class="row d-flex justify-content-end mr-3 mb-3">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-success" >Continue</button>
                            </div>
                        </div>
                    </div>
                    
 
                </div>

                <!-- Payment -->
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Payment
                        </button>
                        <span class="align-middle" *ngIf="isPaymentValidated">
                            <i class="fa fa-check-circle-o text-success"></i>
                        </span>
                    </div>
                    <div id="collapseFour" class='collapse {{showPaymentSection ? "show":""}}' aria-labelledby="headingFour" 
                    data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Total Available Credits: $100000 </p>

                            
                            <button class="btn btn-primary" (click)="onPaySubmit()" [disabled]="(cart.priceDetails && cart.priceDetails.totalPrice === 0) || orderSubmitted">
                                 Pay ${{cart.priceDetails.totalPrice}} <span *ngIf="orderSubmitted"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw align-middle"></i></span></button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4 mt-3">
            <p class="h5 font-weight-bold">Price Details</p>
            
            <hr>
    
            <div class="row mb-3 ml-1">
                <div class="col-sm-5">Price:</div>
                <span class="col-sm-5 currency">{{cart.priceDetails.price}}</span>
            </div>
            <div class="row ml-1">
                <div class="col-sm-5">Delivery:</div>
                <span class="col-sm-5 currency">{{cart.priceDetails.delivery}}</span>
            </div>
        
    
            <hr>
    
            <div class="row ml-1">
                <div class="h5 col-sm-5">Total Price:</div>
                <span class="h5 col-sm-5 currency">{{cart.priceDetails.totalPrice}}</span>
            </div>
               
        </div>

    </div>
</div>

<ng-template appPlaceHolder #place></ng-template>